<div id="chat" class="well">
	<div class="message">
		<label class="label label-info">Dan Knox</label> This is my message
	</div>
</div>

<div class="form-inline well">
  <fieldset>
    <label class="control-label" for="input01">Type your message</label> 
    <input type="text" class="input-xlarge" id="message">
		<button id="send" class="btn btn-primary">Send</button>
  </fieldset>
</div>